/* COLOR */

.text-white {
  color: white;
}

.bg-salmon {
  background-color: salmon;
}

.bg-green {
  background-color: green;
}

/* FLEX */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

/* GRID */

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-row-2 {
  grid-template-rows: 0.5fr 0.5fr;
}

/* HEIGHT */

.h-40 {
  height: 10rem;
}

.h-8 {
  height: 2rem;
}

/* MARGIN */

.mt-40 {
  margin-top: 10rem;
}
